.modal_box {
  display: flex;
  flex-direction: column;
  align-items: center;

  .close_button {
    position: "absolute";
    top: -25px;
    left: 130px;
  }
  .modal_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    #modal_form {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    #h5 {
      margin-top: -30px;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }
  #continueButtons {
    margin: 10% 2px 0;
  }
  .paymentOptButtonBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #paymentOptButton {
      margin-top: 10px;
      width: 100%;
      color: black;
    }
    #body1 {
      margin-top: 2rem;
    }
  }
  .linkSocialButtons {
    margin: 15% 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
