.export_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  max-width: 500px;
  margin: 14% auto;

  .title {
    font-size: 16px;
  }
  .address {
    margin: 20px auto;
    > span {
      background-color: #aaaaaa;
      padding: 5px 10px;
      margin: 10px auto;
    }
  }
  .checkboxes {
    .checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px auto;
    }
  }
  & > button {
    margin-top: 15px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 320px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 24px;
  padding: 24px;
  text-align: center;

  @media screen and (max-width: 899px) {
    left: 50%;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .key {
    margin: 25px 0;
    text-align: center;
    padding: 15px 30px;
    background-color: #aaaaaa;
    color: white;
    cursor: pointer;
  }
  .warning {
    text-align: center;

    .title {
      color: #5a4010;
      font-size: 16px;
    }
    .content {
      color: #d4ab6e;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
}
