.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}
[data-theme="dark"] .content {
  background: #242526;
}

.login_page {
  padding: 10% 0;
  width: calc(100% - 40px);
  max-width: 900px;
  display: flex;
  flex-direction: row;

  @media (max-width: 599px) {
    padding: 20% 20px;
    flex-direction: column;
  }

  .info {
    padding: 50px 50px 50px 0px;
    width: 50%;

    > p {
      font-size: 1.5vw;
      line-height: 1.5;
      width: 500px;
    }

    @media (max-width: 599px) {
      margin: -48px 0 -32px;
      width: 100%;
      text-align: center;
      padding: 50px 0;
    }

    .description {
      line-height: 1.5;
    }
  }

  .login {
    background: white;
    border-radius: 6%;
    text-align: center;
    align-items: center;
    width: 50%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);

    @media (max-width: 599px) {
      width: 100%;
    }

    padding: 50px 0;
    display: flex;
    flex-direction: column;

    .login_items {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        margin-top: 30px;
        width: 100%;
      }
    }
  }
}
[data-theme="dark"] .login {
  background: #0f0f0f;
}
