// Header: Buy crypto modal
.modal_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .close_button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  .modal_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    #modal_form {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    #h5 {
      margin-top: 16px;
      font-weight: bold;
      letter-spacing: -1px;
    }
    #body1 {
      margin-top: 2rem;
    }
  }
}
