.profile_page {
  display: flex;
  flex-direction: column;
  position: relative;

  .banner {
    position: relative;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgb(23, 160, 34), rgb(171, 66, 197));
    cursor: pointer;
  }

  .avatar {
    position: absolute;
    left: 20px;
    top: 110px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    right: 20px;
    top: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .edit {
      padding: 9px 15px;
      font-size: 20px;
      margin-right: 15px;
    }

    .share {
      padding: 7px 20px;
    }

    & > div {
      background: #f0f4fa;
      border: solid 2px #e2e6f8;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .address {
    margin-top: 60px;
    padding-left: 20px;
    font-size: 20px;

    .copy {
      cursor: pointer;
    }

    & > svg {
      margin-left: 10px;
    }
  }

  .active {
    margin-top: 25px;
    padding-left: 20px;
    color: grey;
    .since {
      margin-left: 10px;
      color: black;
    }
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;

  .banner {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: linear-gradient(rgb(23, 160, 34), rgb(171, 66, 197));
  }

  .avatar {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
  }

  .close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
}

.profile_modal {
  border-radius: 15px;
  background-color: white;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 480px;
  max-width: calc(100% - 20px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .header_title {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        cursor: pointer;
      }

      span {
        margin-left: 25px;
        font-weight: bold;
      }
    }

    .save_btn {
      background-color: #222;
      color: white;
      padding: 7px 15px;
      border-radius: 25px;
      cursor: pointer;
    }
  }

  .banner {
    position: relative;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(rgb(23, 160, 34), rgb(171, 66, 197));

    .icon_set {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .icon {
        margin: 0 5px;
        padding: 7px;
        color: white;
        background-color: rgba(32, 32, 32, 0.7);
        border-radius: 50%;
        font-size: 16px;
        cursor: pointer;
      }
    }

    .avatar {
      position: absolute;
      left: 10px;
      bottom: -60px;
      width: 80px;
      height: 80px;
      background: white;
      border: 3px solid white;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .username {
    margin-top: 80px;
    margin-bottom: 10px;
  }
}
