.modal_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .close_button {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  .modal_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    #modal_form {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    #h5 {
      margin-top: 16px;
      font-weight: bold;
      letter-spacing: -1px;
    }
    #body1 {
      margin-top: 2rem;
    }
  }
  #continueButtons {
    margin: 10% 2px 0;
  }
  .paymentOptButtonBox {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #paymentOptButton {
      margin-top: 10px;
      width: 100%;
      color: black;
    }
    #body1 {
      margin-top: 2rem;
    }
  }
  .linkSocialButtons {
    margin: 15% 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    #twtButton {
      color: white;
      text-transform: none;
      background-color: rgb(29, 161, 242); //Twitter blue
    }

    #followAllBtn {
      font-weight: bold;
      color: white;
      text-transform: none;
      background-color: rgb(29, 161, 242); //Twitter blue
      width: 130px;
      margin-bottom: 10px;
    }
    #unfollowAllBtn {
      color: rgb(84, 84, 84);
      text-transform: none;
      background-color: rgb(239, 239, 239, 0.3);
      width: 130px;
      border-color: rgb(118, 118, 118, 0.3);
      margin-bottom: 10px;
    }
  }
}

.matchedFrenz {
  display: flex;
  flex-direction: column;
  width: 150%;

  #frenz {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    align-items: center;

    #profilePhoto {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 50%;
      margin-right: 10px;
    }

    .frenzBody {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      a {
        color: gray;
      }
    }
  }
}
