.user_details {
  padding-left: 20px;

  .name {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(77, 77, 77);
  }

  .username {
    margin-top: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(130, 130, 130);
  }

  .address {
    margin-top: 20px;
    font-size: 20px;

    .copy {
      cursor: pointer;
    }

    & > svg {
      margin-left: 10px;
      margin-bottom: -5px;
    }
  }
}

.followList {
  display: flex;
  flex-direction: column;

  #followItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    margin-top: 1px;
    align-items: center;

    #profilePhoto {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 50%;
      margin-right: 10px;
    }

    .followItemDetails {
      align-items: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      a {
        color: gray;
      }
    }

    .follow_button {
      margin-left: auto;
    }
  }
}
