// Footer
.footer {
  position: absolute;
  bottom: 0px;
  z-index: 1500;
  text-align: center;
  width: 100%;
  background-color: white;
  border-top: solid 1px grey;
  padding: 15px 0;

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
