.preview {
  border: solid 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  .upper {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;

    .calendar_top {
      background: #f4435f;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 60px;
      height: 15px;
    }

    .calendar_bottom {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 60px;
      height: 45px;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .period {
      color: #f4435f;
      margin: 10px 0 3px 0;
      font-weight: 600;
      text-transform: uppercase;
    }

    .name {
      margin-top: 5px;
      font-size: 24px;
      font-weight: bold;
    }

    .desktop_info {
      margin-top: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }

    .mobile_info {
      margin-top: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
    }

    .status_item {
      border-radius: 5px;
      background-color: #4e4f52;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 3px 0 3px 0;
      gap: 10px;
      padding: 8px;
    }
  }

  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
  }

  .desktop_lower {
    background: #18191c;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
  }

  .mobile_lower {
    background: #18191c;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .event_details {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    gap: 15px;

    .event_host {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  }

  .guest_list {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    gap: 15px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    height: 1px;
  }
}
