.preview {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .upper {
    padding: 10px 25px;
    display: flex;
    flex-direction: column;

    .calendar_top {
      background: #f4435f;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 60px;
      height: 15px;
    }

    .calendar_bottom {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 60px;
      height: 45px;
      font-size: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .period {
      color: #d32749;
      margin: 10px 0 3px 0;
      font-weight: 600;
      text-transform: uppercase;
    }

    .name {
      margin-top: 5px;
      font-size: 24px;
      font-weight: bold;
    }

    .desktop_info {
      margin-top: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 10px;
      gap: 10px;
    }

    .mobile_info {
      margin-top: 10px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
    }

    .desktop_invite {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      @media (max-width: 599px) {
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .mobile_invite {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      white-space: nowrap;
    }

    .status_item {
      border-radius: 5px;
      background-color: #4e4f52;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 3px 0 3px 0;
      gap: 5px;
      padding: 6px;
      font-size: 15px;
    }
  }

  .avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
  }

  .desktop_lower {
    background: #18191c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
  }

  .mobile_lower {
    background: #18191c;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .event_info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
    .event_details {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      gap: 15px;

      .event_host {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-size: 14px;
      }
    }
    .event_host_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
    }
  }

  .guest_list {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    gap: 15px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divider {
    height: 1px;
  }

  .mobile_hide {
    @media (max-width: 870px) {
      display: none;
    }
  }
}

.map_info {
  height: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  span {
    padding: 20px 10px;
    font-weight: bold;
  }
}
